.about {
    background-color: transparent;
    font-size: 1.1em;
  }
  
  .profile {
    max-width: 30em;
  }
  
  .my-details {
    background-color: rgba(255, 255, 255, 0.747);
  }
  .testing {
      font-size: 1.5em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }